
.imgs{
  width:200px;
  height:200px;
  float: right;
}

.author-box {
   border: 2px solid red;
   background-color: white;
   padding: 12px;
   margin: 20px;
}

.aboutme-box {
   border: 2px solid red;
   background-color: white;
   padding: 12px;
   margin: 20px;
}
