
.imgs{
  width:200px;
  height:200px;
  float: right;
  object-fit: contain
}
.img-box{
  width:200px;
  height:200px;
  float: right;
}

.author-box {
   border: 2px solid red;
   background-color: white;
   padding: 12px;
   margin: 20px;
   object-fit: contain'
}

.aboutme-box {
   border: 2px solid red;
   background-color: white;
   padding: 12px;
   margin: 20px;
}
.hi-box {
   border: 2px;
   background-color: white;
   padding: 30px;
   margin: 26px;
   object-fit: contain'
}

h1 {
  color: #f7326e;
  font-family: sans-serif;

}
