
.imgs{
  width:200px;
  height:200px;
  float: right;
  object-fit: contain
}

.author-box {
   border: 2px solid red;
   background-color: white;
   padding: 12px;
   margin: 20px;
   object-fit: contain'
}

.aboutme-box {
   border: 2px solid red;
   background-color: white;
   padding: 12px;
   margin: 20px;
}

h1 {
  color: #f7326e;
  font-family: sans-serif;
}
